@import url("another-style.css");

body {
    font-family: 'Courier New', Courier, monospace;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul {
    flex: 1;
}

header {
    color: black;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 20px;
}

#build-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #3bbdf8;
    color: black;
    padding: 12px 28px;
    border-radius: 20px;
    box-shadow: 0 0 20px #3bbdf8;
    font-size: 1rem;
    font-weight: 600;
    z-index: 9999;
    display: none;
}

#build-message {
    display: none;
}

ul {
    flex: 1;
}

header {
    color: black;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 20px;
}

nav {

    padding: 1rem 5%;
    background-color: rgb(247, 247, 247);
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    border-radius: 35px;
    margin: 10px;
}

.logoimg {
    width: 35%;
    display: flex;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;

}

.nav-links li a {
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #a8d6ff;
    text-shadow: 0 0 10px #a8d6ff
}

.btns {
    display: flex;

}






.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1rem;
    background: #3bbdf8;
    color: black;
    box-shadow: 0 0 15px #3bbdf8;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #0aa9f3;
    box-shadow: 0 0 25px #0aa9f3;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
}


.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);

    width: 300px;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.3);

    display: none;
    transition: 0.3s;
}


.form-popup.active {
    display: block;
    transform: translate(-50%, -50%) scale(1);
}


.form-popup input {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
}

nav {

    padding: 1rem 5%;
    background-color: rgb(247, 247, 247);
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    border-radius: 35px;
    margin: 10px;
}

.logoimg {
    width: 35%;
    display: flex;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;

}

.nav-links li a {
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #a8d6ff;
    text-shadow: 0 0 10px #a8d6ff
}

.btns {
    display: flex;

}

.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1rem;
    background: #3Bbdf8;
    color: black;
    box-shadow: 0 0 15px #3Bbdf8;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #0aa9f3;
    box-shadow: 0 0 25px #0aa9f3;
}

footer {
    background: linear-gradient(260deg, #d6e4f0 0%, #1e56a0 46%, #163172 100%);
    color: #FAF9F6;
    padding: 10px 0 20px;
    margin-top: auto;
    width: 100%;
}


.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.footer-col {
    flex: 1;
    min-width: 250px;
    text-align: center;
    margin-bottom: 30px;
}


.copyright {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
    margin-top: 20px;
    width: 100%;
}


.links {
    list-style: none;
    padding: 0;
}

.links a {
    text-decoration: none;
    line-height: 2;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.3s ease;
}



.links a:hover {
    opacity: 1;
    font-size: 18px;
    transition: 0.5s;
    margin-right: 10px;
}

.welcome-background-img {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://i.postimg.cc/J0v0Ly9f/smart-robotic-farmers-concept-robot-farmers-agriculture-technology-farm-automation.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;

    display: flex;

}

.welcome {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    margin: 35px;
    max-width: 730px;
    padding: 20px;
    margin: 25px;
}

.welcome-text {
    max-width: 650px;
}

a {
    text-decoration: none;
    color: black;
}

.main-btm {
    border-radius: 20px;
    font-style: italic;
    padding: 10px;
    margin: 8px;
    background: #3Bbdf8;
    box-shadow: 0 0 15px #3Bbdf8;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.main-btm:hover {
    transition: 1s;
    background: #0aa9f3;
    box-shadow: 0 0 30px #0aa9f3;
    padding: 15px 25px;
}

.choose-robot-presets {
    text-align: center;
}

.presetrobot-cards {
    display: inline-block;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;

    background-color: white;
    border: 1px solid #ccc;

    text-align: center;
    cursor: pointer;
    transition: transform 0.35s ease, background 0.35s ease, box-shadow 0.35s ease;

}


.presetrobot-cards:hover {
    transform: scale(1.08);
    background-color: #A3D1FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23A3D1FF'/%3E%3Cstop offset='1' stop-color='%231896FF'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='1676' height='1396.7' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}


.cardimg {
    width: 120px;
    display: block;
    margin: auto;
    border-radius: 10px;
}


.buy-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 18px;
    background: #3Bbdf8;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: all 0.6s ease;
}

.buy-btn:hover {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.7s ease;
}

.choose-yours-div {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://i.postimg.cc/7YLTbJ5v/138475267-6c67f7c4-719c-4463-acdd-d0c2b0b1c461.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 50px;
}

.choose-yours-h1 {
    font-size: 45px;
}

.head-in-midell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1-choose-presets {
    text-align: center;
}


.body-in-midell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lowerbody-in-midell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected {
    transform: scale(1.08);
    background-color: #A3D1FF;
    box-shadow: 0 0 20px #1896FF;
}

#message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #3Bbdf8;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px #3Bbdf8;
    z-index: 9999;
    display: none
}

.builder-result{
    margin: 20px;
    text-align: center;
}


.login-btn {
  padding: 10px 20px;
  background: #3bbdf8;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;

}


.form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: none;
  z-index: 9999;  
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}




